<div class="title medium-grey sans-font">LICENSE INFORMATION</div>
<form class="form" enctype="multipart/form-data">  
  <input class='field' type="text" name="user[license_number]" placeholder="Driver License or State ID Number" required>
  <input class='field' type="text" name="user[license_expiration]" placeholder="Driver License Expiration (MM/DD/YYYY)") required>
  <input class='field' type="file" name="user[license]" required id="license"  multiple accept="image/x-png, image/gif, image/jpeg, image/jpg" required>
  <input class="sendButton" type="submit" value="SEND LICENSE INFORMATION" id="sendRecommendation" />
</form>