<div class="title medium-grey sans-font">RECOMMENDATION INFORMATION</div>
<form class="form" enctype="multipart/form-data">  
  <input class="field" type="text" name="user[recommendation_id]" placeholder="Recommendation ID" required>
  <input class="field" type="file" name="user[recommendation] id="recommendation"  multiple accept="image/x-png, image/gif, image/jpeg, image/jpg" required>
  <input class="sendButton" type="submit" value="SEND RECOMMENDATION INFORMATION" id="sendRecommendation" />
</form>