<div class="title medium-grey sans-font">PERSONAL INFORMATION</div>
<form class="form">
  <input class="field" type="text" name="user[first_name]" placeholder="First Name" required>
  <input class="field" type="text" name="user[last_name]" placeholder="Last Name" required>
  <input class="field" type="text" name="user[birth_date]" placeholder="Date of Birth (MM/DD/YYYY)" required>
  <input class="field" type="text" name="user[mobile]" placeholder="Mobile Number (10 digits without 1 prefix)") required>
  <div id=checkboxContainer>
    <input type="checkbox" id="legalCheckBox" required>I consent to use Electronic Records and Signatures. By checking this box I am agreeing to be joined to the partnering collectives, am agreeing to the MediBolt Terms and Conditions and am aware of the MediBolt Privacy Policy</input>
  </div>
  <input class="sendButton" type="submit" value="SEND PERSONAL INFORMATION" id="sendBasicInfo" />
</form>