<div id='homePageContainer'>
  <div id="backgroundHomePage">
   <div id="homePageLine">
     <div class='user-box sans-font' id='sign-up'>SignUp
	   <form>
	     <input class="user-box-field" type="text" name="user[email]" placeholder="Email" required>
	     <input class="user-box-field" type="text" name="user[password]" placeholder="Passsword" required>
	     <input class="user-box-field" type="text" name="user[password-confirm]" placeholder="Password Confirmation" required>
       </form>
	 </div>
    </div>
   <div id='iphoneImage'></div>
  </div>
</div>
