/*!CK:489765720!*//*1417476395,*/

._5e8l{border:1px solid #dcdee3;-webkit-border-radius:3px}._5e8l textarea{background:none;border:none;-webkit-box-sizing:border-box;color:#4e5665;font-family:Menlo,Monaco,Andale Mono,Courier New,monospace;font-size:14px;height:auto;line-height:20px;margin-top:12px;padding:12px;width:100%}
._5s5v{margin-top:7px}

#bootloader_Qjs3P { height: 42px; }
.bootloader_Qjs3P { display:block !important; }