<div class="singleProductContainer">
  <div class="productNameAndDescription">
    <p class="productName sans-font"><%= name %></p>
    <p class="productDescription sans-font medium-grey"><%= product_description %></p>
  </div>
  <img class="productImage" style="background-image: url(<%= pic_url %>); background-repeat:no-repeat; height:25vw; width:40vw">
  <span class="productDetails">
    <p class="thc sans-font medium-grey">THC: <%= thc %>%</p>
	<div class="invoicesContainer"></div>
  </span>
</div>