<!DOCTYPE html>
<html>
  <head>
    <title>MediBolt</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= csrf_meta_tags %>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa8SMFnvadFq5R5_PZUwfshdCJdW3802I"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>